templates/Exercise 2 - AI Agent - Coffee Shop Assistant.json
{
  "name": "AI Agent - Coffee Shop Assistant",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -192
      ],
      "id": "d7040da8-302a-4543-8e7a-75875023980c",
      "name": "When chat message received",
      "webhookId": "90a2417e-d46c-4237-aa85-06656ec15d38"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13aa2946-c531-444a-baa1-d0e36cfbe61e",
              "name": "chatInput",
              "value": "={{ $json.chatInput }} Juga",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -96
      ],
      "id": "7edac863-2585-469f-93c1-11406b1c1dff",
      "name": "General Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cd202d7-b842-424e-bc35-37c6a2781367",
              "name": "chatInput",
              "value": "={{ $json.chatInput }} Ifan",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -288
      ],
      "id": "7a45c16e-15b2-41c3-918f-784cd853e608",
      "name": "Hello Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8bc62ddf-f41a-45a8-b24f-e2af8922b2d2",
              "leftValue": "={{ $json.chatInput.toLowerCase() }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -192
      ],
      "id": "08d56b7c-87f5-4824-8dac-d4fc4c1a6dee",
      "name": "Is Hello?"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Is Hello?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hello?": {
      "main": [
        [
          {
            "node": "Hello Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9029cf25-86ca-42c9-85b4-835d7881d1e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53aff9c331b579fcfe211bfd0b39cbe55cf00388272e5f5bca1491d6c6d40576"
  },
  "id": "ZD8hBVEgSW1Y0ad5",
  "tags": []
}